@model IEnumerable<MYPRODUCTPRO.Models.ProductModelClass>

@{
    Layout = "~/views/shared/_mainpage.cshtml";
}

<style>
    body{
        margin-top:40px;
    }
</style>
<body>
    <div class="container mt-xxl-5 ">
        <div class="row">
            <partial name="PartialViews/_ProductPartialView" />

        </div>
    </div>

</body>
